/*COLOR SCHEME:
#e8edf3 (light blue)
#e6cf8b (light beige)
#b56969 (reddish)
#22264b (dark blue)
*/

body {
    background-color: #e8edf3;
    
}

.header {
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #e6cf8b;
    position: fixed;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header #logo{
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;

}

.header h1 {
    display:inline;
    margin-left: 10px;
    margin-top: 20px;
}

.header h2 {
    display: inline;
    margin:60px;
    color: #22264b;
}

#myCarousel {
    margin-top: 50px;
}

#works {
    position: relative;
    top: 200px;
}

#artists {
    position: relative;
    top: 200px;
}

#singleArtist {
    position: relative;
    top: 200px;   
}