/*
header background & small title: #252121
text: #4D281D
big title: #A80603
background: #F2EFEA
link: #5C4099 hover:8A60E5
*/

body {
    background-color: #F2EFEA; /* change this  */
    
}

a {
    color: #5C4099
}

a:hover {
    color: #8A60E5;
    text-decoration: none;
}

.header {
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #252121; /* change this  */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header #logo{
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;

}

.header h1 {
    display:inline;
    margin-left: 10px;
    margin-top: 20px;
    color: #F2EFEA;
}

.header h2 {
    display: inline;
    margin:60px;
    color: rgba(242, 239, 234, 0.5);
}

.header a {
    color: rgba(242, 239, 234, 0.5);
    );
}

.header a:hover {
    color: rgba(242, 239, 234, 0.8);
    text-decoration: none;
}


.contentwrapper {
    
    margin-top:100px;
    padding: 20px;
    
}

.columnFlexWrapper {
    background-color: blanchedalmond; /*    change this*/
    height: 400px;
    margin-bottom: 20px;
    padding: 20px;
    
}

#myCarousel {
    margin-top: 50px;
}

#works {
    position: relative;
    top: 200px;
}

#artists {
    position: relative;
    top: 200px;
}

#singleArtist {
    position: relative;
    top: 200px;   
}

#videoDescription {
    white-space: pre-line;
}