

body {
    background-color: dimgrey; /* change this  */
    
}

.header {
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #252121; /* change this  */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header #logo{
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;

}

.header h1 {
    display:inline;
    margin-left: 10px;
    margin-top: 20px;
    color: #A80603;
}

.header h2 {
    display: inline;
    margin:60px;
    color: #22264b;
}






#works {
    position: relative;
    top: 200px;
}

#artists {
    position: relative;
    top: 200px;
}

#singleArtist {
    position: relative;
    top: 200px;   
}

#videoDescription {
    white-space: pre-line;
}