/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sintony", sans-serif;
  /*color: #eaf2e3;*/
  background-color: #F2EFEA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #c0a672;
  text-decoration: none;
}

.cd-image-replace {
  /* replace text with image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}


/* -------------------------------- 

Content Sections - basic style

-------------------------------- */
.cd-section {
  /* vertically align its content*/
    
  display: table;
  width: 100%;
  height: 100vh;
/*  padding-top: 50px;*/
  position: relative;

}





.cd-section > div {
  /* vertically align <div> inside <section> */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cd-section h1, .cd-section h2 {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.4;
    color: #4D281D;
   
}

.cd-section h1 b, .cd-section h2 b {
  color: #584c5e;
}
.cd-section p {
  margin: 1em auto 0;
  line-height: 1.6;
/*  width: 90%;*/
  max-width: 680px;
/*  color: rgba(234, 242, 227, 0.6);*/
    
}
@media only screen and (min-width: 800px) {
  .cd-section h1, .cd-section h2 {
    font-size: 3rem;
  }
  .cd-section p {
    font-size: 2rem;
  }
}

/*Responsive menu*/
@media screen and (max-width:680px) {
  ul.topnav li {display: none;}
  ul.topnav li.foldIcon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.foldIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.foldIcon{display: none;}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 44px;
  height: 44px;
  background: url(../img/cd-arrow-bottom.svg) no-repeat center center;
}

