<div id="artists"> 


<div class="filter">
    <div class="container">
        <div class="row">

            <div class="col-md-12"><h3>Browse artists</h3></div>

            <br>
        </div>
        <div class="row" id="filters">

            <div class="col-md-6">
            <p style="display:inline-flex">Filter by:</p>
            <select class="selectArtists" id="periodSelect" ng-model="genre" required ng-options='option.value as option.name for option in typeOptionsPeriod' ng-change="firstPage()">
            </select> 
            
            <select id="countrySelect" ng-model="country" required ng-options='option.name as option.name for option in typeOptionsCountry' ng-change="firstPage()">
            </select>
        </div>

            <div class="col-md-3">
            <p style="display:inline-flex">Order by:</p>
            <select id="sortSelect" ng-model="sort" required ng-options='option.value as option.name for option in typeOptionsSorting' ng-change="firstPage()">
            </select></div>
            <div id="SearchBar" class="col-md-3"><input id="searchfield" ng-model="query" my-enter="searchArtists()" type="text"/>&nbsp;<a href="" ng-click="searchArtists()"><i class="fa fa-search"></i></a></div>

        </div>
    </div>
</div>

<hr>

<div class="mainbody">
    <ng-include src="'partials/errorWindow.html'"></ng-include>

    <ng-include src="'partials/spinner.html'"></ng-include>
    <div class="container" ng-show="loading === 0">
        <div class="row">
            <div ng-repeat="art in artists" class="artist_card col-xs-6 col-md-3">
               <div class="image">
                   <a ng-href="#/artists/{{art.id}}"><img fallback class="img img-reponsive" ng-src="{{art.image}}" style="width:100%"/></a>
               </div>
               <div class="artist_name">
                   <a ng-href="#/artists/{{art.id}}"><p class="artist-name">{{art.name}}</p></a>
               </div>
            </div>
        </div>

        <div id="pagerbuttons">
            <button class="pagerButton btn btn-default" ng-click="firstPage()" ng-disabled="onFirstPage">First</button>
            <button class="pagerButton btn btn-default" ng-click="previousPage()" ng-disabled="onFirstPage">&lt;</button>
            <button class="pagerButton btn btn-default" ng-click="nextPage()" ng-disabled="onLastPage">&gt;</button>
        </div>
        <br>
        <br>
    </div>
</div>

</div>