<div id="homepage">
    
<!--    Carousel for showing news/events etc-->
<!--    <div id="myCarousel" class="carousel slide" data-ride="carousel">-->
  <!-- Indicators -->
<!--
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
-->

  <!-- Wrapper for slides -->
<!--
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../images/note.png" alt="Event1">
    </div>

    <div class="item">
      <img src="../images/note.png" alt="Event2">
    </div>

    <div class="item">
      <img src="../images/note.png" alt="Event3">
    </div>

    <div class="item">
      <img src="../images/note.png" alt="Event4">
    </div>
  </div>
-->

  <!-- Left and right controls -->
<!--
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->

    <nav class="cd-vertical-nav">
	<ul>

        <li><a href="#section1" class="active"><span class="label">Medieval</span></a></li>
		<li><a href="#section2"><span class="label">Renaissance</span></a></li>
		<li><a href="#section3"><span class="label">Baroque</span></a></li>
		<li><a href="#section4"><span class="label">Classical</span></a></li>
        <li><a href="#section5"><span class="label">Romantic era</span></a></li>
        <li><a href="#section6"><span class="label">20th century</span></a></li>
        
	</ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button>

<section id="section1" class="cd-section">
    
	<div class="content-wrapper">
        <img src="images/medieval.jpg">
		<h1>Medieval</h1>
        <div class="columnwrapper"></div>
        <div class="columnwrapper"></div>
		<a href="#section2" class="cd-scroll-down cd-image-replace">scroll down</a>
	</div>
</section><!-- cd-section -->

<section id="section2" class="cd-section">
	<div class="content-wrapper">
        <img src="images/creationadam.jpg">
		<h2>Renaissance</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.</p>
    <div class="columnwrapper"></div>
	</div>
</section><!-- cd-section -->

<section id="section3" class="cd-section">
	<div class="content-wrapper">
		<h2>Baroque</h2>
        <div class="columnwrapper">
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.</p>
        </div>
        <div class="columnwrapper"></div>
	</div>
</section><!-- cd-section -->

<section id="section4" class="cd-section">
	<div class="content-wrapper">
		<h2>Classical</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.</p>
	   <div class="columnwrapper"></div>
    </div>
</section><!-- cd-section -->
    
<section id="section5" class="cd-section">
	<div class="content-wrapper">
		<h2>Romantic era</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.</p>
        
    <div class="columnwrapper"></div>
        
	</div>
</section><!-- cd-section -->
    
<section id="section6" class="cd-section">
	<div class="content-wrapper">
		<h2>20th century</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.</p>
    <div class="columnwrapper"></div>
	</div>
</section><!-- cd-section -->
	
<script src="js/jquery-2.1.4.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
    
    
<!--    wrapper for taking the tour -->
<!--
<div class="contentwrapper">
    <div class="verticalruler">
    <h1>Take the tour</h1>
    <div class="columnFlexWrapper" id="medieval">

        <h2>Medieval</h2>
        <div class="columnWrapper">
        </div>
        <div class="columnWrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    
    <div class="columnFlexWrapper" id="renaissance">
        <h2>Renaissance</h2>
        <div class="columnWrapper">
        </div>
         <div class="columnWrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>

    <div class="columnFlexWrapper" id="baroque">
        <h2>Baroque</h2>
        <div class="columnWrapper">
        </div>
         <div class="ColumnWrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    </div>
    </div>
    <div class="columnFlexWrapper" id="classical">
         <h2>Classical</h2>
        <div class="columnWrapper">
        </div>
         <div class="columnWrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        </div>
    </div>
     <div class="columnFlexWrapper" id="romantic">
         <h2>Romantic era</h2>
        <div class="columnWrapper">
        </div>
         <div class="columnWrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        </div>
    </div>
     <div class="columnFlexWrapper" id="20thcentury">
         <h2>20th century</h2>
        <div class="columnWrapper">
        </div>
         <div class="columnWrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        </div>
    </div>
    </div>
-->
<!--    </div>  end of contentwrapper   -->
    </div> <!-- end of div homepage -->
