<h1>TITLE OF THE WORK</h1>
<p> By: artist </p>


<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;


  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  // var player;
  // function onYouTubeIframeAPIReady() {
  //   player = new YT.Player('player', {
  //     height: '390',
  //     width: '640',
  //     videoId: 'hOA-2hl1Vbc',//'bUFWXpYJKaI',
  //     events: {
  //       'onReady': onPlayerReady,
  //       'onStateChange': onPlayerStateChange
  //     }
  //   });
  // }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
    //searchByKeyword();
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      //setTimeout(function(){ changeVideo('p1Huxc3jqZQ'); }, 10000);
      setTimeout(function(){ searchByKeyword('adagio for strings'); }, 10000);
      done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }

  function changeVideo(id){
    player.cueVideoById(id, 0, 'large');
  }

  function init() {
    gapi.client.setApiKey('AIzaSyAdAGKp13vOjtEcBUqTiK6Q4u8iLzWY_6Q');
    //gapi.client.load('youtube', 'v3');
    gapi.client.load('youtube', 'v3').then(function(){ searchByKeyword('moonlight sonata'); });
  }

  function searchByKeyword(keyWord) {
    var request = gapi.client.youtube.search.list({
      q: keyWord,
      part: 'snippet',
      maxResults: 25,
      order: 'relevance'
    });

    request.execute(function(results) {
      for(var i in results.items) {
        var item = results.items[i];
        console.log('[%s] Title: %s', item.id.videoId,item.snippet.title);
      }
      player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: results.items[0].id.videoId
        });
      for(var i = 0; i < results.items.length; i++){
          $("#additional").append(
           "<div class='video'>" + 
            "<img src=\"" + results.items[i].snippet.thumbnails.default.url + "\" onclick=\"" + "changeVideo('" + results.items[i].id.videoId + "')\"/>" +
            "<p>" + results.items[i].snippet.title + "</p>" + 

             //"<a href=\""+ "https://www.youtube.com/watch?v=" + results.items[i].id.videoId + "\">link to video</a>" +
           "</div>");

      }
      //player.loadVideoById(results.items[0].id.videoId, 0, 'large');
    });
   }
</script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>

<h2>Additional videos</h2>
<div id="additional"><div>
<script src="https://code.jquery.com/jquery.js"></script>

