<div id="myAccount">

    <div class="mainbody">
        <div class="container">
           <div id="loginInfo">
               <p>Signed in as: {{userName}}</p>
               <button ng-click="logout()">Logout</button>
           </div>
            <div class="alert" ng-show="error">
                <span class="closebtn" ng-click="error=false">&times;</span>
                {{errorMessage}}
            </div>
            <h3>Favorite Artists</h3>
            <p ng-hide="likeArtists">You don't have favorite artists now.</p>
            <div class="row">
                <div ng-repeat="art in artists" class="artist_card col-md-3">

                    <div class="image">
                        <a ng-href="#/artists/{{art.id}}"><img fallback class="img img-reponsive" ng-src="{{art.image}}" style="width:100%"></a>
                    </div>
                    <span class="star fav" ng-show="{{art.id}}" ng-click="removeFavoriteArtist(art.id)">&#9733;&#32;</span> 
                    <span class="star unfav" ng-hide="{{art.id}}" ng-click="addFavoriteArtist(art.id)">&#9733;&#32;</span> 
                    <div class="artist_name">
                        <a ng-href="#/artists/{{art.id}}"><p class="artist-name">{{art.name}}</p></a>
                    </div>
                    
                    
                </div>
            </div>

            <h3>Favorite Songs</h3>
            <div class="row">
                <div id="fav-song-list" class="songs col-md-12">
                    <p ng-hide="likeSongs">You don't have favorite songs now.</p>
                    <table ng-show="likeSongs">  
                        <tr>
                            <th class="song-col"><a ng-click="sortType = 'title'; sortReverse = !sortReverse">
                                Work
                                <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                            </a></th>
                            <th class="artist-col"><a ng-click="sortType = 'artist_name'; sortReverse = !sortReverse">
                                Artist
                                <span ng-show="sortType == 'artist_name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'artist_name' && sortReverse" class="fa fa-caret-up"></span>
                            </a></th>
                        </tr>
                        <tr ng-repeat="song in songs | orderBy:sortType:sortReverse">
                            <td class="song-col">
                                <span class="star" ng-hide="{{song.id}}" ng-click="addFavoriteSong(song.id, song.artist_id)">&#9734;&#32;</span>
                                <span class="star" ng-show="{{song.id}}" ng-click="removeFavoriteSong(song.id, song.artist_id)">&#9733;&#32;</span>
                                <a ng-href="#/works/{{song.id}}">{{song.title}}</a>
                            </td>
                            <td class="artist-col"><a ng-href="#/artists/{{song.artist_id}}">{{song.artist_name}}</a></td>
                        </tr>  
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>