<div id="myAccount">
	<h2>Signed in as: {{userName}}</h2>
  <button ng-click="logout()">Logout</button>
  <div class="alert" ng-show="error">
    <span class="closebtn" ng-click="error=false">&times;</span>
    {{errorMessage}}
  </div>
	<h2>Favorite Artists</h2>
	<div class="row">
    <div ng-repeat="art in artists" class="artist_card col-md-3">
       <div class="image">
          <a ng-href="#/artists/{{art.id}}"><img fallback class="img img-reponsive" ng-src="{{art.image}}" style="width:100%"></a>
       </div>
       <div class="artist_name">
          <a ng-href="#/artists/{{art.id}}"><p class="artist-name">{{art.name}}</p></a>
       </div>
    </div>
  </div>

	<h2>Favorite Songs</h2>
  <div ng-repeat="song in songs">
    <a ng-href="#/works/{{song.id}}">{{song.title}}</a>
    <a ng-href="#/artists/{{song.artist_id}}">{{song.artist_name}}</a>
  </div>

	
</div>