<div id="singleArtist">
   <div class="spinner" ng-hide="loading === 0">
      <img src="../images/spinner.gif"/> <!-- Ludwig: Image Subject to change-->
   </div>
   <div class="mainbody" ng-show="loading === 0">
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <div class="artistInfo">
                       <!--Images and Description-->
                       <img ng-src={{singleArtist.image}} style="width:100%">

                       <div id="Artistnamecard" class="section">
                           <!--Name of artist-->
                           <h3>&#9734;&#32;{{singleArtist.name}}</h3>

                           <!--some information-->
                           <p>Active years: {{activeYears}}</p>
                           <p>Genres:</p>
                           <ul id="genres">
                               <li ng-show="!genres.length">Not Available</li>
                               <li ng-repeat="genre in genres">{{genre.name}}</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <!--Description-->
               <div class="col-md-8">
                   <div class="section">
                      <h4>Biography</h4>
                       <a href="javascript:history.back()"><i class="fa fa-long-arrow-left">Back to list</i></a>
                       <p id="bio" ng-bind-html="bio"></p>
                    </div>

                   <!--Documentary-->

                   <!--Songs-->
                   <div class="section">
                       <h4>Songs</h4>
                       <div ng-repeat="song in works | unique: 'title'">
                           <a ng-href="#/works/{{song.id}}"><p>{{song.title}}&#32;&#9734;</p></a>
                       </div>  
                   </div>
               </div>
           </div>
       </div>
   </div>

</div>