<div id="singleArtist">
   <ng-include src="'partials/spinner.html'"></ng-include>
   <div class="mainbody" ng-show="loading === 0">
       <div class="container">
           <div class="row">
                <ng-include src="'partials/errorWindow.html'"></ng-include>
               <div class="col-md-4">
                   <div class="artistInfo">
                       <!--Images and Description-->
                       <img ng-src={{singleArtist.image}} style="width:100%">

                       <div id="Artistnamecard" class="section">
                           <!--Name of artist-->
                           <h3>
                               <span class="star" ng-hide="favorited" ng-click="addFavorite()">&#9734;&#32;</span>
                               <span class="star" ng-show="favorited" ng-click="removeFavorite()">&#9733;&#32;</span>
                               {{singleArtist.name}}
                           </h3>

                           <!--some information-->
                           <p>Active years: {{activeYears}}</p>
                           <p>Genres:</p>
                           <ul id="genres">
                               <li ng-show="!genres.length">Not Available</li>
                               <li ng-repeat="genre in genres">{{genre.name}}</li>
                           </ul>
                           <p>Country: {{artistlocation}}</p>
                           
<!--
                           <button ng-hide="favorited" ng-click="addFavorite()">Favorite</button>
                           <button ng-show="favorited" ng-click="removeFavorite()">Unfavorite</button>
-->
                           <p class="back-to-list"><a href="javascript:history.back()">
<!--                           <i class="fa fa-long-arrow-left"></i>-->
                               &larr;Back to list</a></p>
                       </div>
                   </div>
               </div>
              
               <!--Description-->
               <div class="col-md-8">
                   <div class="section">
                      <h4>Biography</h4>
<!--                       <br>-->
                       <div id="bio"
                          hm-read-more
                            hm-text="{{bio}}" 
                            hm-limit="800" 
                            hm-more-text="Show more" 
                            hm-less-text="Show less"
                            hm-dots-class="dots"
                            hm-link-class="links"></div>           
                    </div>

                   <!--Documentary-->
                   <div class="section">
                       <h4>Documentary</h4>
                       <div id="player"></div>
                   </div>

                   <!--Songs-->
                   <div class="section">
                       <h4>Songs</h4>
                       <div ng-repeat="song in works | unique: 'title'">
                           <p>
                               <span class="star" ng-hide="{{song.id}}" ng-click="addFavoriteSong(song.id)">&#9734;&#32;</span>
                               <span class="star" ng-show="{{song.id}}" ng-click="removeFavoriteSong(song.id)">&#9733;&#32;</span>
                           <a ng-href="#/works/{{song.id}}">{{song.title}}</a>
                           </p>
                       </div>  
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>