<div id="works">
<ng-include src="'partials/spinner.html'"></ng-include>  
<div class="mainbody" ng-show="loading === 0">
    <div class="container">
        <div class="alert" ng-show="error">
            <span class="closebtn" ng-click="error=false">&times;</span> 
            {{errorMessage}}
        </div>
        <div class="section">
            <h3>{{workTitle}}
                <span class="star" ng-hide="favorited" ng-click="addFavorite()">&#32;&#9734;</span>
                <span class="star" ng-show="favorited" ng-click="removeFavorite()">&#32;&#9733;</span>
            </h3>
           <p><a ng-href="#/artists/{{artistId}}"> By: {{artistName}}</a></p>
        </div>

        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        
        <div id="player" class="col-md-8 col-md-offset-2"></div>
        
        <div class="col-md-12" id="videoDescription"
                            hm-read-more
                            hm-text="{{videoDescription}}" 
                            hm-limit="400" 
                            hm-more-text="Show more" 
                            hm-less-text="Show less"
                            hm-dots-class="dots"
                            hm-link-class="links"></div>
        <div class="section col-md-12">
            <h4>Additional Videos</h4>
        
        
        <div id="additional" class="row">
            <div ng-repeat="video in channel" class="video_thumbnail col-md-2 col-xs-4" ng-hide="isTrue('{{video.id.videoId}}')" >
                <img ng-src="{{video.snippet.thumbnails.medium.url}}" ng-click="changeVideo(video.id.videoId)">
                <div class="video_names">
                    <p>{{video.snippet.title}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

</div>