<!DOCTYPE html>
<!-- Notice the ng-app Angular directive. This tells Angular where the application starts and also
which module to associate the app with. In app.js we create the "dinnerPlanner" module. -->
<html lang="en" ng-app="musiksalen">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Musiksalen</title>
    
<!--    Google Fonts -->
      <link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Vollkorn:400,700,400italic|Gentium+Book+Basic:400,700italic,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
<!--  readmore.js for collapsing/expanding text blocks -->
<!--      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>-->
<!--        <script src="node_modules/readmore-js/readmore.min.js"></script>-->

      

      
      
    <!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Angular JavaScript including routing and resource modules  -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>   
    <script src="bower_components/angular-read-more/dist/readmore.min.js"></script>
      
      <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
      <!-- AngularFire -->  
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    
    <!-- The application JavaScript code -->
    <script src="js/classie.js"></script>
    
    <script src="js/app.js"></script>

    <script src="js/headerCtrl.js"></script>
    <script src="js/homeCtrl.js"></script>
    <script src="js/worksCtrl.js"></script>
    <script src="js/artistsCtrl.js"></script>
    <script src="js/singleArtistCtrl.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/registerCtrl.js"></script>
    <script src="js/myAccountCtrl.js"></script>

    <script src="js/youtubeService.js"></script>
    <script src="js/echoNestService.js"></script>
    <script src="js/lastFmService.js"></script>
    <script src="js/userService.js"></script>
    <script src="js/firebaseService.js"></script>

    <script src="js/imageDirective.js"></script>
    <script src="js/enterDirective.js"></script>

    <script src="https://apis.google.com/js/client.js?onload=init"></script>
      
<!--      CSS THINGS-->
      
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>

<!--      For tour on front page-->
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

     
    <link rel="stylesheet" href="css/main.css">
    
<!--    favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />  	
    
</head>

<body>

    <!-- Here in index.html you should put only the layout that is shared among all the screens (e.g. header
    ,footer, etc.). The rest of the view specific layout will go into the html partials (check partials folder) -->

      
    <div class="whole">
      
      
    <header ng-controller="HeaderCtrl">

        <div class="container">
            <div class="col-md-12">
                <a id="logo" href="#/home" ng-click="removeCookie()" ng-controller="ArtistsCtrl"><h1>Musiksalen</h1></a>
                <div id="menu">
                    <ul class="topnav">
                    <li class="menu"><a ng-class="getClass('/home')" href="#/home" ng-click="removeCookie()" ng-controller="ArtistsCtrl">Home</a></li>
                    <li class="menu"><a ng-class="getClass('/artists')" href="#/artists">Artists</a></li>
                    <li class="menu" ng-hide="loggedIn()"><a ng-class="getClass('/login')" href="#/login">Login</a></li>
                    <li class="menu" ng-show="loggedIn()"><a ng-class="getClass('/myAccount')" href="#/myAccount">My account</a></li>
                    <li class="foldIcon">
                        <a href="javascript:void(0);" ng-click="myFunction()">&#9776;</a>
                    </li>

                    </ul>
                </div>
           </div>
        </div>
    </header>
      
    <div id="ng-part" ng-view></div>
    
    <footer class="footer">
        <p>Design by: Xu Han, Sofie Nyström, Ludwig Sidenmark and Tingye Zhong</p>  
    </footer>
    </div>
    
</body>
</html>

